/*FONTS*/
@import url(.//clash-display.css);

/*VARIABLE*/
:root{
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #737373;
    --font-base: "ClashDisplay", sans-serif, bold;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/*RESET & HELPERS*/
body{
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight:  700;
    color: var(--c-dark);
}

/*TITLE NAME*/
h7{
    font-weight: 600;
    color: var(--c-dark);
}

a{
    text-decoration: none;
    transition: all 0.4s;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover{
    color: var(--cc-brand-light);
}

img{
    max-width: 100%;
    height: auto;
    border-style: none;
}

.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow{
    box-shadow: var(--box-shadow);
}

/*NAVBAR*/
.navbar-nav{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.navbar-nav li{
    position: relative;
}
.navbar h7{
    font-size: 20px;
    margin-top: 10px;
}
.navbar-nav a {
    text-decoration: none;
    color: black;
    padding: 1px 20px;
}
.navbar-nav li:not(.dropdown):hover a {
    border-bottom: 2px solid #603ce6; 
}
.navbar-nav li:not(.dropdown) a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #603ce6; 
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.navbar-nav li:not(.dropdown):hover a:after {
    width: 100%;
    left: 0;
}
.navbar-nav .nav-link{
    font-weight: 550;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active{
    color: var(--c-brand);
}

/*BTN*/
.btn{
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 12px;
}
.d-flex {
    display: flex;
    justify-content: space-between;
}

.btn-brand{
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}
.btn-brand:hover{
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

/*Hero*/
#hero{
    background:  linear-gradient(rgba(0,0,0,0.507), #000), url(/assets/image/main1.jpg);
    background-position: center;
    background-size: cover;
}
/*About*/
.haven{
  color: var(--c-brand);
  margin: 50px;
  margin-bottom: 10px;
}
.text{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.boxbox{
    height: 400px;
}
/*Section Title*/
.section-title{
    margin-bottom: 40px;
}

.section-title .line{
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/*Iconbox*/
.iconbox{
    width: 70px;
    height: 70px;
    display: inline-flex;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 38px;
    flex: none; 
}

/*Services*/
.service{
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after{
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after{
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}
.service:hover .iconbox{
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/*Contact*/
.contact-container{
    max-width: 960px;
    margin: auto;
    width: 100%;
    margin-bottom:50px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: #fff ;
    border-radius: 0.5rem;
    overflow: hidden;
}
.form-container{
    padding: 20px;
}
.form-container h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.contact-form{
    display: grid;
    row-gap: 1rem;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    outline: none;
    background: #f2f2f2;
    padding: 10px;
    font-size: 0.9rem;
    color: #0a0a0a;
    border-radius: 0.4rem;
}
.contact-form textarea
{
    resize: none;
    height: 200px;
}
.contact-form .send-button{
    border: none;
    outline: none;
    background: #603ce6;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.contact-form .send-button:hover{
    background: #502fc7 ;
    transition: 0.3s all linear;
}
.map iframe{
    width: 100%;
    height: 100%;
}
.custom-shadow {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); /* Customize the shadow properties */
}

.accordion-item h2{
    font-family: 'Montserrat Alternates', sans-serif;
}

/*Footer*/
footer{
    padding-top: 100px;
}
.footer-top{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.01);
}
.footer-bottom{
    padding-top: 20px;
    padding-bottom: 20px;
}
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul{
    list-style: none;
    padding: 0;
}

footer .line{
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}
footer li{
    color: white;
}
.footer-bottom p{
    color: white;
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}

.social-icons a:hover{
    background-color: var(--c-brand);
    color: white;
}

/*MOBILE*/
@media screen and (max-width: 768px){
    .Heading{
        padding: 0px 20px;
    }
    .Heading h1{
        font-size: 36px;
    }
    .Heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .abt-container{
        padding: 3px;
    }
    .about{
        padding: 30px;
        flex-direction: column;
    }
    .about-images{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-stretch: 16px;
        
    }
    .modal-body {
        flex-direction: column; /* Change to column layout on small screens */
      }
      .modal-image-container {
        order: -1; /* Move the image to the top */
      }

    .about-content h2{
      
      text-align: center;
        margin-top: 30px;
    }


    .contact-box{
		grid-template-columns: 1fr;
	}
	.left iframe{
		padding: 2;
        width: 500px;
	}
    .footer-row{
        flex-direction: column;
      }
      .col{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
      }
      .contact-container{
        grid-template-columns: 1fr;
       gap: 1rem;
       
       
      }
      .map iframe{
        height: 400%;
      }
      .map{
        height: 400px;
      }
      .abtbtn{
        text-align: center;
      }
      
}
